<!-- IF S_RADIOGLOBE_PLAYER -->
<!-- INCLUDE radioglobe_player.html -->
<script>window.RadioGlobeConfig = {RADIOGLOBE_PLAYER_CONFIG};</script>
<script src="{RADIOGLOBE_ASSET_PATH}radioglobe-player.js?v={RADIOGLOBE_ASSET_VER}"></script>
<!-- IF S_RADIOGLOBE_PAGE -->
<script>window.RadioGlobePageConfig = {RADIOGLOBE_PAGE_CONFIG};</script>
<script src="{RADIOGLOBE_ASSET_PATH}globe.gl.min.js?v=2.46.2"></script>
<script src="{RADIOGLOBE_ASSET_PATH}radioglobe-globe.js?v={RADIOGLOBE_ASSET_VER}"></script>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF S_RADIOGLOBE_TOAST -->
<script>window.RadioGlobeToastConfig = {RADIOGLOBE_TOAST_CONFIG};</script>
<script src="{RADIOGLOBE_ASSET_PATH}radioglobe-toast.js?v={RADIOGLOBE_ASSET_VER}"></script>
<!-- ENDIF -->
